<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pham</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Pham</string>
		<key>Sounds</key>
		<array>
			<string>Pham.m4a</string>
		</array>
	</dict>
</dict>
</plist>
