<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Duval</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Duval.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Duval.m4a</string>
		</array>
	</dict>
	<key>Dvorsky</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Dvorsky.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Dvorsky.m4a</string>
		</array>
	</dict>
	<key>Fowler</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Fowler.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Fowler.m4a</string>
		</array>
	</dict>
	<key>Giles</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Giles.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Giles.m4a</string>
		</array>
	</dict>
	<key>Ostrander</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Ostrander.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Ostrander.m4a</string>
		</array>
	</dict>
	<key>Pham</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Pham.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Pham.m4a</string>
		</array>
	</dict>
	<key>Piper</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Piper.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Piper.m4a</string>
		</array>
	</dict>
	<key>Rose</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Rose.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Rose.m4a</string>
		</array>
	</dict>
	<key>Schafer</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Schafer.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Schafer.m4a</string>
		</array>
	</dict>
	<key>Stein</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Stein.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Stein.m4a</string>
		</array>
	</dict>
	<key>Street</key>
	<dict>
		<key>Rect</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>60</integer>
			<integer>60</integer>
		</array>
		<key>Image</key>
		<string>Street.JPG</string>
		<key>Sounds</key>
		<array>
			<string>Street.m4a</string>
		</array>
	</dict>
</dict>
</plist>
